<!DOCTYPE html>
<html>
<head>
	<title></title>
	<!-- CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
	<link rel="stylesheet" href="../static/stylesheets/node.css">

	<!-- JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
</head>
<body>
	<div class="container-fluid mt-5" id="app">
		<h2 class="text-center">Create Tree Node</h2>
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col-sm-7">
						<div class="row">
							<div class="col-sm-3">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Branches</span>
									</div>
									<input type="number" class="form-control" v-model.number="numBranches" min="1" max="6">
								</div>
							</div>
							<div class="col-sm-3">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Nodes</span>
									</div>
									<input type="number" class="form-control" v-model.number="numNodes" min="1" max="6">
								</div>
							</div>
							<div class="col-sm-6">
								<button type="button" class="btn btn-outline-success" @click="CreateTree">Create Tree</button>
								<button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#mdAncestor">Get Ancestor</button>
							</div>
						</div>			
						<hr>
						<div class="row mt-3">
							<div id="node-container" class="col-sm-12">
								<div v-for="branche in numBranches" class="row mt-2">
									<div class="col-sm-2" v-for="nodes in numNodes">
										<input type="number" class="form-control">	
									</div>							
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-5">
						<div id="mynetwork"></div>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal -->
		<div class="modal fade" role="dialog" id="mdAncestor" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Find Ancestor</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="alert alert-success" role="alert" v-show="ancestor != null">
							El ancestro entre {{ dataQuery.n1 }} y {{ dataQuery.n2 }} es <strong>{{ ancestor }}</strong>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group">
									<label for="nod1">Node 1</label>
									<input type="number" id="nod1" class="form-control" min="1" v-model="dataQuery.n1">
								</div>
								<div class="form-group">
									<label for="nod2">Node 2</label>
									<input type="number" id="nod2" class="form-control" min="1" v-model="dataQuery.n2">
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary" @click="GetAncestor">Find Ancestor</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script type="text/javascript" src="../static/javascripts/node.js"></script>
</body>
</html>
<!-- 
70,84,85
70,84,78,80
70,84,78,76
70,49,54,51
70,49,37,40
70,49,37,22
-->